<html>

<body style="background-color:#e2e1e0;font-family: Open Sans, sans-serif;font-size:100%;font-weight:400;line-height:1.4;color:#000;">
  <table style="max-width:1366px;margin:50px auto 10px; padding: 20px; border-collapse: collapse; background-color:#fff;padding:50px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);-moz-box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);">
    <thead>
        <tr>
            <th><br></th>
            <th><br></th>
            <th><br></th>
        </tr>
         <tr>
            <th><br></th>
            <th><br></th>
            <th><br></th>
        </tr>
      <tr>
        <th style="text-align:left;"><img style="max-width: 259px;" src="../dist/assets/images/logo.png" alt="bachana tours"></th>
      </tr>
    </thead>
    <tbody >
      <tr>
        <td style="height:35px;"></td>
      </tr>
      <tr>
        <td colspan="2" style="padding: 20px;">
          <p style="font-size:14px;margin:0 0 6px 0;"><span style="font-weight:bold;display:inline-block;min-width:150px;color: #002633;font-size: 38px;">Order #0001</span></p>
        </td>
      </tr>
      <tr>
        <td style="height:35px;"></td>
      </tr>
      <tr>
        <td style="height:35px;"></td>
      </tr>
      <tr>
        <td style="height:35px;"></td>
      </tr>
      <tr>
        <td style="height:35px;"></td>
      </tr>
      <tr>
        <td style="width:25%;padding:30px;vertical-align:top">
            <p style="font-size: 20px; color: #33CCFF;">Customer inforation</p>
          <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span style="display:block;font-weight:bold;font-size:13px">Contact information </span> Pierre.fortin02@gmail.com
        </p>
          <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span style="display:block;font-weight:bold;font-size:16px;">Shipping address</span> Pierre Fortin <br> 34 Ben Lexcen Drive <br> Sunrise Beach QLD 4567 <br> Australia <br> 0422109817</p>
          <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span style="display:block;font-weight:bold;font-size:16px;">Shipping method </span>Australia Post (2+ Business Days)</p>
          <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span style="display:block;font-weight:bold;font-size:16px;"><br></p>
          <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span style="display:block;font-weight:bold;font-size:16px;"><br></p>
          <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span style="display:block;font-weight:lighter;font-size:16px;">Need help? <span style="color: #33CCFF;"> Contact us </span></span></p>
        </td>
        <td style="width:25%;padding:20px;vertical-align:top;">
            <p style="font-size: 20px; color: #33CCFF;"> <br> </p>
          <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span style="display:block;font-weight:bold;font-size:16px">Payment method </span> Mastercard ending with 0427
        </p>
          <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span style="display:block;font-weight:bold;font-size:16px;">Billing address </span> Pierre Fortin <br> 34 Ben Lexcen Drive <br> Sunrise Beach QLD 4567 <br> Australia</p>
          <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span style="display:block;font-weight:bold;font-size:16px;"><br></p>
          <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span style="display:block;font-weight:bold;font-size:16px;"><br></p>
          <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span style="display:block;font-weight:bold;font-size:16px;"><br></p>
          <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span style="display:block;font-weight:bold;font-size:16px;"><br></p>

          <p style="margin:0 0 10px 0;padding:0;font-size:14px;">
            <div style="width: 200px;height: 54px; display: flex; justify-content: center; align-items: center; cursor: pointer; background: #33CCFF 0% 0% no-repeat padding-box;border-radius: 28px;">
                <span>
                    <a style="list-style: none; text-decoration: none; text-align: center;font: normal normal 900 16px/22px Avenir;letter-spacing: 0px;color: #FFFFFF;" href="">
                        Continue Shopping
                    </a>
                </span>

            </div>
        
        </p>
           <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span style="display:block;font-weight:bold;font-size:13px;"><br></p>
          <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span style="display:block;font-weight:bold;font-size:13px;"><br></p>
          <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span style="display:block;font-weight:bold;font-size:13px;"><br></p>
          <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span style="display:block;font-weight:bold;font-size:13px;"><br></p>
               <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span style="display:block;font-weight:bold;font-size:13px;"><br></p>
          <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span style="display:block;font-weight:bold;font-size:13px;"><br></p>
          <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span style="display:block;font-weight:bold;font-size:13px;"><br></p>
          <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span style="display:block;font-weight:bold;font-size:13px;"><br></p>
               <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span style="display:block;font-weight:bold;font-size:13px;"><br></p>
          <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span style="display:block;font-weight:bold;font-size:13px;"><br></p>
          <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span style="display:block;font-weight:bold;font-size:13px;"><br></p>
          <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span style="display:block;font-weight:bold;font-size:13px;"><br></p>
               <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span style="display:block;font-weight:bold;font-size:13px;"><br></p>
          <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span style="display:block;font-weight:bold;font-size:13px;"><br></p>
          <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span style="display:block;font-weight:bold;font-size:13px;"><br></p>
          <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span style="display:block;font-weight:bold;font-size:13px;"><br></p>
        </td>
        <td style="width: .5%;">
            <hr style="height: 1128px; border: 2px solid #919DA1;">
        </td>
        <td style="width:49%;padding:20px;vertical-align:top">
            <p><br></p>
        </td>
      </tr>
           <tr>
        <td style="height:35px;"></td>
      </tr>
      <tr>
        <td style="height:35px;"></td>
      </tr>
      <tr>
        <td style="height:35px;"></td>
      </tr>
      <tr>
        <td style="height:35px;"></td>
      </tr>
           <tr>
        <td style="height:35px;"></td>
      </tr>
      <tr>
        <td style="height:35px;"></td>
      </tr>
      <tr>
        <td style="height:35px;"></td>
      </tr>
      <tr>
        <td style="height:35px;"></td>
      </tr>

    </tbody>
  </table>
</body>

</html>